<ion-header no-border>
	<ion-toolbar color="transparent">
		<button ion-button menuToggle>
			<ion-icon color="fontSec" name="menu"></ion-icon>
		</button>
		<ion-title>
			<div class="page-header">{{num}}</div>
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding>


	<ion-slides #slides (ionSlideDidChange)="slideChanged()">
		<ion-slide *ngFor="let player of players" #player.id>
			<ion-card [ngClass]="isActive(player.id) ? 'cardClassActive' : 'cardClass' ">
				<ion-card-header no-padding>
					<ion-grid style="height:100%;padding:1em;"> 
						<ion-row class="playerInfo">
							<ion-col class="playerName">
								{{player.name}}
							</ion-col>
							<ion-col class="playerScore">
								{{player.score}}
							</ion-col>
							<ion-col class="playerAvg">
								AVG:
							</ion-col>
						</ion-row> 

						<ion-row class="lastScores">
							<ion-col *ngFor="let points of containerof3">
								<div class="lastThree">
									{{player.lastThreeScores[points-1]}}
								</div>
							</ion-col>

						</ion-row>
						<ion-row class="threeDots">
							<ion-col *ngFor="let num of containerof3">
								<div [ngClass]="(num <=throwCounter) && isActive(player.id)? 'fas fa-circle fa-xs' : 'far fa-circle fa-xs' "></div>

							</ion-col>
						</ion-row>


					</ion-grid>
				</ion-card-header>
			</ion-card>
		</ion-slide>
	</ion-slides>



	<ion-grid style="height:80%" no-padding>
		<ion-row *ngFor="let num of numbers" class="scoreboardrow">
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num)">
					<div class="numberscore">
						{{num}}
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num+1)">
					<div class="numberscore">
						{{num+1}}
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num+2)">
					<div class="numberscore">
						{{num+2}}
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num+3)">
					<div class="numberscore">
						{{num+3}}
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num+4)">
					<div class="numberscore">
						{{num+4}}
					</div>
				</button>
			</ion-col>
		</ion-row>
		<ion-row class="scoreboardrow">
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="undo()">
					<div class="numberscore">
						UNDO
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block [ngClass]="isDouble ? 'active_btn' : 'numbercontainer' " (click)="double()">
					<div class="numberscore">
						DOUBLE
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block [ngClass]="isTriple ? 'active_btn' : 'numbercontainer' " (click)="triple()">
					<div class="numberscore">
						TRIPLE
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(25)">
					<div class="numberscore">
						BULL
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(0)">
					<div class="numberscore">
						MISS
					</div>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>