<ion-header no-border>
	<ion-toolbar color="transparent">
		<button ion-button menuToggle>
			<ion-icon color="accentSec" name="menu"></ion-icon>
		</button>
		<ion-title>
			<div class="page-header">{{num}}</div>
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding>


	<ion-slides>
		<ion-slide *ngFor="let player of players" #player.id>
			<ion-card [ngClass]="isActive(player.id) ? 'cardClassActive' : 'cardClass' ">
				<ion-card-header no-padding>
					<ion-grid style="height:100%;">
						<ion-row [ngClass]="isActive(player.id) ? 'playerInfo' : 'playerInfoInactive' "
							align-items-center>
							<ion-col>
								<div>
									{{player.name}}
								</div>
							</ion-col>
							<ion-col class="playerScore">
								<div>
									{{player.score}}
								</div>
							</ion-col>
							<ion-col>
								<div>
									Avg: {{player.avg}}</div>
							</ion-col>
						</ion-row>

						<ion-row [ngClass]="isActive(player.id) ? 'stats' : 'statsInactive' " align-items-center>
							<ion-col>
								L: 1/3
							</ion-col>
							<ion-col>
							</ion-col>
							<ion-col>
								S : 1/3
							</ion-col>
						</ion-row>


						<ion-row class="lastScore" align-items-center>
							<ion-col *ngFor="let points of containerof3">
								<div>
									{{player.lastThreeScores[points-1]}}
								</div>
							</ion-col>

						</ion-row>
						<ion-row [ngClass]="isActive(player.id) ? 'lastScore' : 'lastScoreInactive' "
							align-items-center>
							<ion-col *ngFor="let num of containerof3">
								<div
									[ngClass]="(num <=throwCounter) && isActive(player.id)? 'fas fa-circle fa-xs' : 'far fa-circle fa-xs' ">
								</div>

							</ion-col>
						</ion-row>
						<ion-row [ngClass]="isActive(player.id) ? 'lastScore' : 'lastScoreInactive' "
							align-items-center>
							<ion-col *ngFor="let points of containerof3">
								<div class="toThrow">
									{{player.toThrow[points-1]}}
								</div>
							</ion-col>
						</ion-row>

						<ion-row [ngClass]="isActive(player.id) ? 'playersTurn' : 'playersTurnActive' "
							align-items-center>
							<ion-col>
								{{activePlayerName}}'s turn
							</ion-col>
						</ion-row>

					</ion-grid>
				</ion-card-header>
			</ion-card>
		</ion-slide>
	</ion-slides>



	<ion-grid style="height:65%" no-padding>
		<ion-row *ngFor="let num of numbers" class="scoreboardrow">
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num)">
					<div class="numberscore">
						{{num}}
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num+1)">
					<div class="numberscore">
						{{num+1}}
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num+2)">
					<div class="numberscore">
						{{num+2}}
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num+3)">
					<div class="numberscore">
						{{num+3}}
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="numbercontainer" (click)="addPoints(num+4)">
					<div class="numberscore">
						{{num+4}}
					</div>
				</button>
			</ion-col>
		</ion-row>
		<ion-row class="scoreboardrow">
			<ion-col>
				<button ion-button block color="transparent" class="btn_bottom" (click)="undo()">
					<div class="numberscore">
						UNDO
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block [ngClass]="isDouble ? 'active_btn' : 'btn_bottom' " (click)="double()">
					<div class="numberscore">
						DOUBLE
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block [ngClass]="isTriple ? 'active_btn' : 'btn_bottom' " (click)="triple()">
					<div class="numberscore">
						TRIPLE
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="btn_bottom" (click)="addPoints(25)">
					<div class="numberscore">
						BULL
					</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button block color="transparent" class="btn_bottom" (click)="addPoints(0)">
					<div class="numberscore">
						MISS
					</div>
				</button>
			</ion-col>
		</ion-row>
		<!-- <div class="ads"> </div> -->
	</ion-grid>

</ion-content>