page-x01 {

    .cardClass {
        height: 100%;
        border: solid 1px color($colors, semiTransparent);
    }
    .cardClassActive {
        height: 100%;
        border: solid 1px color($colors, accentSec);
        background-color: color($colors, semiTransparent) !important;
    }
    ion-card-header {
        height: 100%;
        color: color($colors, font) !important;
    }
    .slide-zoom {
        height: 100%; // overflow:hidden;
    }
    ion-slides {
        padding-bottom: 1em !important;
        height: 30%;
    }
    .card {
        background-color: color($colors, transparent);
        margin-top: 0 !important;
    }
    .scoreboardrow {
        height: 16%;
    }
    .numbercontainer {
        background-color: transparent; // height: 100%;
        box-shadow: none !important;
        width: 100%;
        font-weight: 200;
        color: color($colors, font); // text-align: right;
        font-size: large;
    }
    .active_btn {
        background-color: color($colors, semiTransparent) !important;
        color: color($colors, font); // height: 100%;
        width: 100%;
    }
    .playerName {
        // font-weight: 300;
        // font-size: small;
        color: color($colors, fontSec);
    }
    .playerAvg {
        // font-weight: 200;
        // font-size: small;
        color: color($colors, fontSec);
    }
    .playerScore {
        color: color($colors, font);
        // font-weight: 100;
        font-size: x-large;
    }
    .playerInfo {
        height: 60%;
    }
    .threeDots {
        height: 20%;
    }
    .lastScores {
        height: 20%;
    }
    div.lastThree{
        font-weight: 100;
    }
}