page-x01 {
    .cardClass {
        height: 100%;
        border: solid 1px color($colors, semiTransparent);
    }
    .cardClassActive {
        height: 100%;
        border: solid 1px color($colors, accentSec);
        background-color: color($colors, semiTransparent) !important;
    }
    ion-card-header {
        height: 100%;
        color: color($colors, font) !important;
    }
    .slide-zoom {
        height: 100%;
    }
    ion-slides {
        padding-bottom: 1em !important;
        height: 35%;
    }
    .card {
        background-color: color($colors, transparent);
        margin-top: 0 !important;
    }
    .scoreboardrow {
        height: 20%;
    }
    .numbercontainer {
        background-color: transparent;
        box-shadow: none !important;
        width: 100%;
        height: 100%;
        font-weight: 200;
        color: color($colors, font);
        font-size: large;
    }
    .btn_bottom {
        height: 75%;
        background-color: transparent;
        box-shadow: none !important;
        font-weight: 200;
        font-size: 1.5rem;
        color: color($colors, fontSec);
    }
    .active_btn {
        background-color: color($colors, semiTransparent) !important;
        color: color($colors, font);
        box-shadow: none !important;
        width: 100%;
        font-weight: 200;
        height: 75%;
        font-size: 1.5rem;
    }
    .playerName {
        color: color($colors, font); // font-weight: 200;
    }
    .playerAvg {
        // font-weight: 200;
        color: color($colors, font);
    }
    .playerScore {
        color: color($colors, font);
        font-size: 3rem;
        font-weight: 200;
    }
    .playerInfo {
        height: 30%;
    }
    .stats {
        height: 30%;
        color: color($colors, font);
        font-weight: 100;
    }
    .lastScores {
        height: 15%;
        font-weight: 100;
    }
    .threeDots {
        align-content: center !important;
        align-items: center !important;
        height: 10%;
    }
    .toThrow {
        height: 15%;
        color: color($colors, fontSec);
    }
    .ads {
        height: 60px !important;
        border: solid 1px red;
    }
    ion-row {
        // border: solid 1px red;
    }
    ion-col {
        // border: solid 1px red;
    }
}