page-statsATWmodal {

  ion-card {
    background: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid color($colors, semiTransparent2);
  }

  ion-card-header {
    background: transparent !important;
    color: color($colors, btnActivated) !important;
  }

  ion-card-content {
    background: transparent !important;
  }

  ion-icon {
    font-size: 2.0em;
  }

  .flexcontainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dates {
    color: color($colors, fontSec);

  }


  .gamesplayed {
    color: color($colors, fontSec);
    text-align: center;
    margin-top: 1em;
  }

  .chart {
    height: 15em !important;
  }

  .backbutton {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: transparent !important;
  }

  .backbtn {
    background: transparent !important;
    box-shadow: none !important;
  }

  .padding {
    padding: 0.5em !important;
  }

  .playername {
    color: color($colors, font);
    font-size: 1.1em;
  }

  .playerscore {
    color: color($colors, font);
    font-size: 1.1em;

  }

  .won {
    color: color($colors, accent);
  }
}
