page-home {
    ion-grid {
        display: block;
        height: 90%;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: 2em;
    }
    ion-row {
        height: 33%;
    }
    ion-col {
        padding: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn {
        display: flex;
        height: 100%;
        width: 100%;
        box-shadow: none !important;
        align-items: center;
    }
    .font {
        font-weight: 100;
        font-size: 2rem;
        width: 100%;
        color: color($colors, font);
        text-align: center;
        vertical-align: middle !important;
    }
    .line {
        background-color: color($colors, accentSec);
        border: none;
    }
    .line.vertical {
        margin: 7% 0 7% 0 !important;
        flex: 0 0 1px;
    }
    .line.horizontal {
        margin: 0 7% 0 7% !important;
        height: 1px;
    }
    .line.no {
        background-color: transparent;
        flex: 0 0 1px;
        height: 1px;
    }
    .linerow {
        height: 1px;
    }
}