<ion-content padding>
  <ion-grid no-padding>
    <ion-row class="ion-rows">
      <ion-col>
        <section class="heading">Settings</section>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let player of players;let i=index" class="playernames">
      <ion-input type="text" placeholder="player {{i}}" [(ngModel)]="players[i].name"></ion-input>
    </ion-row>

    <ion-row class="ion-rows">
      <ion-col col-6>
        <button ion-button full class="btn_bottom" (click)="addPlayer()">
          Add Player
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full class="btn_bottom" (click)="removePlayer()">
          Remove Player
        </button>
      </ion-col>
    </ion-row>



    <ion-row class="toggles">
      <ion-col>
        <button ion-button full [className]="!legbased ? 'gamestyle-active' : 'gamestyle'" (click)="quickgame()">
          QUICK GAME
        </button>
      </ion-col>
      <ion-col>
        <button ion-button full [className]="legbased ? 'gamestyle-active' : 'gamestyle'" (click)="legbasedgame()">
          LEG BASED
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="legbased">
      <ion-item class="doubles" no-lines>
        <ion-label>Legs: </ion-label>
        <ion-select interface="alert" [(ngModel)]="legs" placeholder="Select Legs">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option selected="true" value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="11">11</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="legbased">
      <ion-item class="doubles" no-lines>
        <ion-label>Sets: </ion-label>
        <ion-select interface="alert" [(ngModel)]="sets" placeholder="Select Sets">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option selected="true" value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item class="doubles" no-lines>
          <ion-label>DOUBLE IN</ion-label>
          <ion-checkbox color="accent" checked="true" [(ngModel)]="doubleIn"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="doubles" no-lines>
          <ion-label>DOUBLE</ion-label>
          <ion-checkbox color="accent" checked="true" [(ngModel)]="doubleOut"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar transparent>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button full class="btn_bottom" (click)="dismiss()">
            Abort
          </button>
        </ion-col>
        <ion-col>
          <button ion-button full class="btn_bottom" (click)="play()">
            Play
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>