page-instructions {
    .SwipedTabs-indicatorSegment {
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
        position: relative;
        top: -2px;
        background-color: color($colors, accent) !important;
    }
    .SwipedTabs-tabs ion-segment-button {
        font-size: large !important;
        border: none !important;
        color: color($colors, semiTransparent) !important;
        background-color: color($colors, transparent) !important;
    }
    .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
        color: color($colors, accent) !important;
    }
    .SwipedTabs-tabs {
        background-color: color($colors, transparent) !important;
        height: 4em;
        border-bottom: solid 1px color($colors, semiTransparent) !important;
    }
    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }
    .header {
        color: color($colors, font);
        margin: 1em 0 0.2em 0;
        font-size: 1em;
    }
    .textblock {
        padding: 1em;
        font-size: 0.8em;
        color: color($colors, fontSec);
        text-align: start !important;
    }
}