// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

div.page-header {
    margin: 0;
    padding: 0;
    color: color($colors, fontSec);
    background-color: transparent;
    font-size: medium;
    font-weight: 200;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

ion-content {
    background-image: linear-gradient(160deg, color($colors, background) 20%, color($colors, backgroundSec)) !important;
}

.scroll-content {
    padding: 0 !important;
}

.fas.fa-circle {
    margin: 0 0.2em 0 0.2em;
    display: block;
    color: color($colors, accent);
}

.fas.fa-circle.closed {
    margin: 0 0.2em 0 0.2em;
    display: block;
    color: color($colors, fontSec);
}

.far.fa-circle {
    margin: 0 0.2em 0 0.2em;
    display: block;
    color: color($colors, accentSec);
}

page-menu {

    .pageActive {
        font-weight: 400;
        background-color: color($colors, semiTransparent);
        color: color($colors, accent);
        text-align: center;
    }

    .pageTransparent {
        text-align: center;
        font-weight: 200;
        color: color($colors, font);
        background-color: transparent;
    }

    .page-header-menu {
        color: color($colors, accent);
        height: 5em;
        vertical-align: middle;
        text-align: center;
        font-size: x-large;
        font-weight: 400;
        line-height: 5em;
    }

    .buttonSide {
        font-size: 4.0vh;
    }

    @import url(//fonts.googleapis.com/css?family=Vibur);

    .logo b {
        font-weight: 100;
        font-size: 5vh;
        color: color($colors, font);
        text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em color($colors, accent), 0 0 0.5em color($colors, accent), 0 0 0.1em color($colors, accent), 0 7px 3px #000;
        // text-shadow: 0 -20px 100px color($colors, btnActivated),  0 0 0.5em color($colors, accent), 0 0 0.1em color($colors, accent), 0 6px 3px rgb(15, 15, 15);
    }

    .logo b span {
        animation: blink linear infinite 2.5s;
    }

    @keyframes blink {
        78% {
            color: inherit;
            text-shadow: inherit;
        }

        79% {
            color: rgb(128, 128, 128);
        }

        80% {
            color: color($colors, semiTransparent);
            text-shadow: none;
        }

        81% {
            color: inherit;
            text-shadow: inherit;
        }

        82% {
            color: color($colors, semiTransparent);
            text-shadow: none;
        }

        83% {
            color: inherit;
            text-shadow: inherit;
        }

        92% {
            color: rgb(128, 128, 128);
            text-shadow: none;
        }

        92.5% {
            color: inherit;
            text-shadow: inherit;
        }
    }

    /* follow me @nodws */
}

//alert popup design
.radio-checked {
    background-color: color($colors, transparent) !important;
    border-color: color($colors, accent) !important;
}

.alert-wrapper {
    @include border-radius($alert-md-border-radius);
    box-shadow: $alert-md-box-shadow;
    background: color($colors, backgroundSec) !important;
    color: color($colors, font) !important;
}

.item-radio {
    background: transparent;
    color: color($colors, font) !important;
}

[aria-checked=true] .alert-radio-icon {
    background-color: color($colors, accent) !important;
    border: none !important;
}

[aria-checked=true] .alert-radio-inner {
    border-color: color($colors, accent) !important;
    background: transparent;
}

.alert-radio-label {
    color: color($colors, font) !important;
}

.alert-message {
    color: color($colors, font) !important;
}

.alert-button {
    color: color($colors, font) !important;
}

//buttons design
.button-ios-transparent.activated {
    background: color($colors, btnActivated) !important;
}

.button-md-transparent.activated {
    background: color($colors, btnActivated) !important;
}

.button-ios.activated {
    background: color($colors, btnActivated) !important;
}

.button-md.activated {
    background: color($colors, btnActivated) !important;
}

.item-ios.activated {
    background: color($colors, btnActivated) !important;
}

.item-md.activated {
    background: color($colors, btnActivated) !important;
}


// Toast Design
.playerToast {
    text-align: center;
}

.toast-container {
    background: color($colors, backgroundSec);
}