<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar color="transparent">
      <div class="page-header">Menu</div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button [ngStyle]="{'background-color':checkActive(p) ? 'rgba(255, 255, 255, 0.3)' : 'transparent' }" menuClose
        ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <div class="button">
          {{p.title}}
        </div>
      </button>
      <button [ngStyle]="{'background-color':checkActive(p) ? 'rgba(255, 255, 255, 0.3)' : 'transparent' }" menuClose
        ion-item *ngFor="let p of pagesx01" (click)="openPageX01(p,p.title)">
        <div class="button">
          {{p.title}}
        </div>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>