<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar color="transparent">
      <div class="page-header-menu">
        <div class="logo"><b>M<span>E</span>N<span>U</span></b></div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button [ngClass]="checkActive(p.title) ? 'pageActive' : 'pageTransparent'" menuClose ion-item detail-none
        *ngFor="let p of pages" (click)="openPage(p)">
        <div class="buttonSide">
          {{p.title}}
        </div>
      </button>
      <button [ngClass]="checkActive(p.title) ? 'pageActive' : 'pageTransparent'" menuClose ion-item detail-none
        *ngFor="let p of pagesx01" (click)="openPageX01(p,p.title)">
        <div class="buttonSide">
          {{p.title}}
        </div>
      </button>

      <button [ngClass]="checkActive(p.title) ? 'pageActive' : 'pageTransparent'" menuClose ion-item detail-none
        *ngFor="let p of instructions" (click)="openPage(p)">
        <div class="buttonSide">
          {{p.title}}
        </div>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>