page-cricket {
    .playerName {
        color: color($colors, fontSec);
        text-align: center; // font-weight: 200;
    }
    .playerScore {
        color: color($colors, font);
        text-align: center;
        font-size: x-large;
    }
    .active {
        margin: 0.4 0 0.4em 0;
        border: none;
        background-color: color($colors, accent);
    }
    .dotscontainer {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .dots {
        vertical-align: middle !important;
    }
    .numbercontainer {
        height: 100%;
        background-color: transparent;
        display: flex;
        box-shadow: none !important;
        align-items: center;
    }
    .numberscore {
        font-weight: 200;
        background-color: transparent;
        color: color($colors, font); // text-align: right;
        font-size: large;
        vertical-align: middle !important;
    }
    .full {
        color: color($colors, fontSec);
    }
    .scoreboard {
        height: 73%; // position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .scoreboardrow {
        height: 14%;
    }
    .btn_bottom {
        background-color: transparent;
        box-shadow: none !important;
        font-weight: 200;
        font-size: 1.5rem;
        color: color($colors, fontSec);
    }
    .active_btn {
        background-color: color($colors, semiTransparent) !important;
        color: color($colors, font);
    }
    ion-col {
        // border: solid green;
    }
    .fas.fa-circle {
        font-size: 0.7em;
        margin: 0.4em 0 0.4em 0;
    }
    .fas.fa-circle.closed {
        font-size: 0.7em;
        margin: 0.4em 0 0.4em 0;
    }
    .far.fa-circle {
        font-size: 0.7em;
        margin: 0.4em 0 0.4em 0;
    }
}