page-cricket {
    .playerName {
        color: color($colors, fontSec);
        text-align: center;
    }
    .playerScore {
        color: color($colors, font);
        text-align: center;
        font-size: x-large;
    }
    .dot {
        margin: 0.4em 0 0.4em;
        height: 0.7em;
        width: 0.7em; // border-width: 1px;
        background-color: transparent;
        border-radius: 100%;
        border: solid color($colors, accentSec); // display: inline-block;
    }
    .active {
        margin: 0.4 0 0.4em 0;
        border: none;
        background-color: color($colors, accent);
    }
    .dotscontainer {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .dots {
        vertical-align: middle !important;
    }
    .numbercontainer {
        height: 100%;
        display: flex;
        box-shadow: none !important;
        align-items: center;
    }
    .numberscore {
        color: color($colors, font);
        text-align: center;
        font-size: large;
        vertical-align: middle !important;
    }
    .scoreboard {
        height: 80%; // position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .scoreboardrow {
        height: 14%;
    }
    .btn_bottom {
        box-shadow: none !important;
        font-size: small;
        color: color($colors, fontSec);
    }
    ion-col {
        // border: solid green;
    }
}