<div class="bg">
  <!-- //Cricket -->
  <section class="textblock" *ngIf="isMode('cricket')">
    <div class="headerMode">Cricket</div>
    <div class="header"> 1. Aim of the game</div>
    The object of Cricket is to close all numbers from 15 to 20, and the bull's eye before the opponent does. To
    close a number, a player must score three of that number (any combination of singles doubles and triples).

    <div class="header"> 2. Scoring</div>
    Once a player closes a number every subsequent score on that number increases their score, unless the other
    player has closed that number as well.
    <div class="header">3. Play & Win</div>
    The player who has closed all numbers and whose score is not lower than the opponent's, wins the game.
  </section>

  <!-- //X01 -->
  <section class="textblock" *ngIf="isMode('x01')">
    <div class="headerMode">X-01</div>
    <div class="header"> 1. Aim of the game</div>
    Each player starts with X-01 (301, 501, 701) points. The number of points collected while hitting a board with a
    dart is
    subtracted from the given player's points. The winner is the player who scores exactly 0 points that way.
    Double-Out means that players must hit a double that makes their score exactly zero to win
    the game.
    <div class="header">2. Bust</div>
    In case of a bust the player's score from the previous turn is restored. There is bust if one of the following
    events arise:
    <ul>
      <li>The player scores more points in the active turn, than his current score (subtracting would result in a
        negative
        score)</li>
      <li>The player has 1 point after subtracting (you cannot score 1 with double out)</li>
      <li>The player has 0 point after subtracting but violates the double-out rule</li>
    </ul>
    <div class="header">3. End of the game</div>
    Players continue playing until one of them scores 0 points in total. The player who does so, wins the game.
  </section>

  <!-- //ATW -->
  <section class="textblock" *ngIf="isMode('atw')">
    <div class=" headerMode">Around The World
    </div>
    <!-- <div class="header"> Around The World</div> -->
    The aim of this game is to be the first player to hit all the numbers on the dart board from 1 - 20 and bullseye.
    Any segment
    of the number - single, double or triple - counts as a hit. The numbers must be hit in order, and players change
    after three throws. A player cannot pass or skip certain numbers, they must hit it to advance to the next number
    on the board.
  </section>

  <!-- //BOB -->
  <section class="textblock" *ngIf="isMode('bob')">
    <div class=" headerMode">Bob´s 27</div>
    <!-- <div class="header"> Bob´s 27</div> -->
    SCHREIBE HIER NOCH ZEUG REIN
  </section>

  <!-- //Challange -->
  <section class="textblock" *ngIf="isMode('challenge')">
    <div class=" headerMode">Challenge</div>
    <div class="header"> 1. Aim of the game</div>
    The Challenge Mode is designed to improve your dart-skills. <br>
    The app suggests numbers that you have to hit. If you hit the right number, press "Hit". If you have missed it,
    you press "Miss".
    <br>
    Your average hit rate will be calculated and saved, so you can fight against your highscore.
    The Hard-Mode contains more triple and double numbers.
  </section>


</div>
